.portfolio {
  width: 89%;
  margin: 0 auto 0;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  margin: 0 0 30px;
  color: #A0A0A0;
}

.portfolio__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 19px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__wrapper:last-child {
  padding: 0;
  border: none;
}

.portfolio__site {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  margin: 20px 0 0;
}

.portfolio__arrow {
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  margin: 10px 0 0;
  text-decoration: none;
  color: #000000;
}