.authform {
  width: 396px;
  margin: 70px auto 0;
}

@media screen and (max-width: 768px) {
  .authform {
    width: 52%;
    margin: 232px auto 0;
  }
}

@media screen and (max-width: 480px) {
  .authform {
    width: 81%;
    margin: 56px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.authform__logo {
  width: 38px;
  height: 38px;
}

.authform__greetings {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 40px 0;
}

@media screen and (max-width: 480px) {
  .authform__greetings {
    margin: 50px 0 80px;
  }
}

.authform__element {
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .authform__element {
    height: 380px;
  }
}

@media screen and (max-width: 480px) {
  .authform__element {
    height: 468px;
  }
}

.aithform__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.authform__submit {
  height: 45px;
  background: #000000;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .authform__submit {
    font-size: 12px;
    line-height: 1.25;
  }
}