.aboutme {
  width: 89%;
  margin: 110px auto 101px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    width: 87%;
    margin: 90px auto;
  }
}

.aboutme__profile-container {
  margin: 66px 0 0;
  display: grid;
  grid-template-rows: 58px 18px 20px 26px min-content 55px 17px;
  column-gap: 23.7%;
}

@media screen and (max-width: 768px) {
  .aboutme__profile-container {
    grid-template-rows: 40px 16px 18px 20px min-content 51px 17px;
    column-gap: 7.3%;
  }
}

.aboutme__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutme__name {
    font-size: 40px;
    line-height: 1;
  }
}

.aboutme__definition {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutme__definition {
    font-size: 12px;
    line-height: 1.5;
  }
}

.aboutme__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

@media screen and (max-width: 768px) {
  .aboutme__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

.aboutme__link-wrapper {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

.aboutme__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.aboutme__avatar {
  width: 270px;
  height: 327px;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1 / 8;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .aboutme__avatar {
    max-width: 255px;
    min-height: 307px;
  }
}