.aboutme {
  width: 89%;
  margin: 110px auto 101px;
}

.aboutme__profile-container {
  margin: 66px 0 101px;
  display: grid;
  grid-template-rows: 58px 18px 20px 26px min-content 55px 17px;
  column-gap: 23.7%;
}

.aboutme__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
}

.aboutme__definition {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0;
}

.aboutme__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.aboutme__link-wrapper {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

.aboutme__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  cursor: pointer;
}

.aboutme__avatar {
  width: 270px;
  height: 327px;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1 / 8;
}